# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyo
*.pyc

# Poetry
__pypackages__/
poetry.lock
poetry-managed/

# Django
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Django settings
/sber_sells/sber_sells/settings.py
/sber_sells/sber_sells/settings/*.py